:root {
    background-color: white;
    --font-family: 'Poppins', sans-serif;
    z-index: 999;
}

.home_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.name_right {
    height: 100vh;
    width: 60%;
    font-family: var(--font-family);
    font-size: 2rem;
    color: #000000;


}

.name_right h1 {
    font-size: 14rem;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

.name_right p {
    font-size: 1.4rem;
    color: #555555;
    margin-top: 230px;
    margin-left: 10px;
}


.name_right_desc {
    display: flex;
    flex-direction: row;
}

.description1 p {
    margin-right: 50px;
    white-space: wrap;
}

.description2 p {
    white-space: wrap;
}


.name_left_img {
    height: 100vh;
    width: 40%;


}

.name_left_img img {
    height: 100%;
    width: 300%;
    object-fit: cover;
    margin-top: 10px;





}

@media (max-width: 1800px) {
    .name_left_img img {
        width: 250%;
        height: 100%;
        margin-top: 0;
        position: relative;
    }

    .description1 p {
        color: #000;
        margin-right: 30px;
        margin-bottom: 80px;
    }

    .description2 p {
        color: #000;
        margin-bottom: 80px;
    }
}

@media (max-width: 1440px) {
    .name_left_img img {
        width: 200%;
        height: 100%;
        margin-top: 0;
        position: relative;
    }

    .description1 p {
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .description2 p {
        margin-bottom: 40px;
    }
}

@media (max-width: 1200px) {
    .name_right h1 {
        font-size: 12rem;
        margin-top: 0;
    }

    .name_right p {
        margin-top: 200px;
    }
}


@media (max-width: 1144px) {
    * {
        padding: auto;
    }

    .home_container {
        flex-direction: column;
        overflow-y: auto;
    }

    .name_right {
        width: 100%;
        height: auto;
        padding: 20px;
        order: 1; /* Ensure text comes first */
    }

    .name_right h1 {
        font-size: 10rem;
        margin-top: 0;
    }

    .name_right p {
        margin-top: 20px; /* Reduced from 150px */
        margin-right: 0; /* Removed to prevent off-screen */
    }

    .name_left_img {
        width: 100%;
        height: auto;
        order: 2; /* Image after text */
    }

    .name_left_img img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}



@media(max-width:853px) {


    .name_left_img img {
        width: 100%;
        height: 100%;
        margin-top: 0;
        position: relative;
        display: block;
    }
}

@media (max-width: 768px) {
    * {
        padding: auto;
    }

    .home_container {
        flex-direction: column;
        overflow-y: auto;
    }

    .name_right {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .name_right h1 {
        font-size: 6rem;
        margin-top: 0;
    }

    .name_right p {
        margin-top: 20px;
    }

    .name_left_img {
        width: 100%;
        height: auto;
    }

    .name_left_img img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .name_right h1 {
        font-size: 4rem;
        color: #000;
    }

    .name_right p {
        font-size: 1rem;
        color: #000;
    }

    .name_right_desc {
        flex-direction: column;
        color: #000;
    }

    .description1 p {
        margin-right: 0;
    }
}

@media (max-width: 360px) {
    .name_right h1 {
        font-size: 3rem;
    }

    .name_right p {
        font-size: 0.9rem;
    }

    .name_right {
        padding: 15px;
    }
}