:root {
    background-color: white;
    --font-family: 'Poppins', sans-serif;
}

.home_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.name_right {
    height: 100vh;
    width: 60%;
    font-family: var(--font-family);
    font-size: 2rem;
    color: #000000;


}

.name_right h1 {
    font-size: 14rem;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

.name_right p {
    font-size: 1.4rem;
    color: #555555;
    margin-top: 230px;
    margin-left: 10px;
}


.name_right_desc {
    display: flex;
    flex-direction: row;
}

.description1 p {
    margin-right: 50px;
    white-space: wrap;
}

.description2 p {
    white-space: wrap;
}


.name_left_img {
    height: 100vh;
    width: 40%;


}

.name_left_img img {
    height: 100%;
    width: 300%;
    object-fit: cover;
    margin-top: 10px;





}

@media (max-width: 1024px) {
    .name_right h1 {
        font-size: 10rem;
        margin-top: 0;
    }

    .name_right p {
        margin-top: 150px;
    }



}

@media (max-width: 768px) {
    * {
        padding: auto;
    }

    .home_container {
        flex-direction: column;
        overflow-y: auto;
    }

    .name_right {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .name_right h1 {
        font-size: 6rem;
        margin-top: 0;
    }

    .name_right p {
        margin-top: 20px;
    }

    .name_left_img {
        width: 100%;
        height: auto;
    }

    .name_left_img img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .name_right h1 {
        font-size: 4rem;
    }

    .name_right p {
        font-size: 1rem;
    }

    .name_right_desc {
        flex-direction: column;
    }

    .description1 p {
        margin-right: 0;
    }
}

@media (max-width: 360px) {
    .name_right h1 {
        font-size: 3rem;
    }

    .name_right p {
        font-size: 0.9rem;
    }

    .name_right {
        padding: 15px;
    }
}

@media (min-width: 1440px) {
    .name_right h1 {
        font-size: 16rem;
    }

    .name_right p {
        font-size: 1.8rem;
        margin-top: 300px;
    }

    .name_left_img img {
        width: 400%;
    }
}