:root {
    background-color: white;
    --font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
}


.navbar {

    color: black;
    display: flex;
    justify-content: space-between;


    padding: 20px 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;


    color: #000000;

    z-index: 20;

}

.logo {
    color: #000000;
    font-size: large;
}

.component_navbar {
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;

    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;


}


.component_navbar a {
    color: inherit;

    text-decoration: none;
    display: inline-block;
    padding: 6px 8px;
}

.component_navbar a:hover,
.component_navbar a:focus {
    text-decoration: none;
    opacity: 0.9;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

.card_highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.project-video {
    width: 90%;
    height: auto;
    display: block;
    margin: 100px auto 0;

    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    max-width: 100%;
    filter: blur(5px);
    transform: filter .6s ease-in-out;
}

.project-video:hover {
    filter: blur(0px);
    transform: filter .6s ease-in-out;
}

.intro_me {


    align-items: center;
    width: 90%;

    margin-top: 70px;
    margin-left: 65px;
    font-family: var(--font-family);
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.6;

}

.intro_me .intro1 {

    margin-bottom: 15px;
    color: rgb(0, 0, 0);

    font-size: 40px;

}

.intro_me .intro2 {

    margin-bottom: 15px;
    color: rgb(95, 95, 95);
    font-size: 40px;
    font-weight: 600;
    filter: blur(2px);
}

.skill {
    width: 70%;
    align-items: center;
    width: 90%;

    margin-top: 100px;
    margin-left: 65px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: #222222;
    line-height: 1.6;
}

.skill h1 {
    font-size: 4rem;
    font-weight: 600;
}

.skill_list ol {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-top: 20px;
    font-size: 1.8rem;
    color: #000000;
    gap: 10px;
    list-style: decimal inside;
}

.skill_list ol {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin-top: 20px;
    font-size: 1.8rem;
    color: #000;
    gap: 15px;
    list-style: decimal inside;
    padding: 0;
}

.skill_list ol li {
    padding: 15px 20px;
    background: linear-gradient(to bottom, #f5f5f5 50%, #2b2b2b 50%);
    background-size: 100% 200%;
    background-position: top;
    border-radius: 10px;
    transition: all 0.4s ease;
    text-align: center;
    cursor: pointer;
    filter: blur(1px);
}

.skill_list ol li:hover {
    background-position: bottom;
    color: #fff;
    filter: blur(0);
    transform: translateY(-6px);
}

.project-card {
    display: block;
    position: relative;
    background: #232323;
    color: white;
    padding: 2rem;
    border-radius: .5rem;
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer;
}

.project-card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: color 0.3s;
}

.project-card:hover h1 {
    color: #ffffff;
}

.project-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.product-description {
    font-size: 1.1rem;
    line-height: 1.6;
    filter: blur(2px);
}

.product-description:hover {
    filter: blur(0);
}

.project-card:hover .project-details {
    max-height: 1000px;

    opacity: 1;
    margin-top: 1rem;
}

.img_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.img_list img {

    width: 400px;
    height: 200px;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.img_list img:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .img_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .img_list img {
        width: 100%;
        height: auto;
    }

    .skill_list ol li {
        padding: 15px 20px;
        background: linear-gradient(to bottom, #f5f5f5 50%, #2b2b2b 50%);
        background-size: 100% 200%;
        background-position: top;
        border-radius: 10px;
        transition: all 0.4s ease;
        text-align: center;
        cursor: pointer;
        filter: blur(1px);
    }

    .skill_list ol li:hover {
        background-position: bottom;
        color: #fff;
        filter: blur(0);
        transform: translateY(-6px);
    }

    .img_list img {
        width: 100%;
        height: 200px;
    }

    .img_list img:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .img_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .img_list img {
        width: 100%;
        height: auto;
    }

    .intro1 {
        font-size: 30px;
        padding: 0 10px;
    }

    .skill {
        margin-left: 20px;
        font-size: 1.3rem;
    }

    .skill h1 {
        font-size: 3rem;
        margin-left: 20px;
    }

    .skill_list ol {
        grid-template-columns: repeat(1, minmax(150px, 1fr));

        font-size: 1.6rem;
    }

    .skill_list ol li {
        padding: 15px 20px;
        background: linear-gradient(to bottom, #f5f5f5 50%, #2b2b2b 50%);
        background-size: 100% 200%;
        background-position: top;
        border-radius: 10px;
        transition: all 0.4s ease;
        text-align: center;
        cursor: pointer;
        filter: blur(1px);
    }

    .skill_list ol li:hover {
        background-position: bottom;
        color: #fff;
        filter: blur(0);
        transform: translateY(-6px);
    }

    .project-card {
        margin: 20px;
        padding: 20px;
        border: 1px solid #eee;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .img_list img {
        width: 100%;
        height: 200px;
    }

    .img_list img:hover {
        transform: scale(1.05);
    }


}


@media (max-width: 480px) {
    .navbar {
        padding: 15px 20px;
    }

    .component_navbar {
        font-size: 1rem;
        gap: 10px;
    }

    .intro_me {
        margin-left: 20px;
        font-size: 1rem;
        margin-top: 50px;
    }

    .skill {
        margin-left: 20px;
        font-size: 1.2rem;
    }

    .skill h1 {
        font-size: 2.5rem;
    }

    .skill_list ol {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        font-size: 1.5rem;
    }

    .skill_list ol li {
        padding: 15px 20px;

        background: linear-gradient(to bottom, #f5f5f5 50%, #2b2b2b 50%);
        background-size: 100% 200%;
        background-position: top;
        border-radius: 10px;
        transition: all 0.4s ease;
        text-align: center;
        cursor: pointer;
        filter: blur(1px);
    }

    .skill_list ol li:hover {
        background-position: bottom;
        color: #fff;
        filter: blur(0);
        transform: translateY(-6px);
    }

    .project-card {
        margin: 10px;
        padding: 15px;

    }

    .project-card:hover .project-details {
        max-height: 2400px;

        opacity: 1;
        margin-top: 1rem;
    }

    .img_list img:hover {
        transform: scale(1.05);
    }


}